@font-face {
  font-family: GT_Walsheim_Bold;
  src: url("../fonts/GT-Walsheim-Bold.otf"); }

@font-face {
  font-family: GT_Walsheim_Regular;
  src: url("../fonts/GT-Walsheim-Regular.otf"); }

@font-face {
  font-family: GT_Walsheim_Medium;
  src: url("../fonts/GT-Walsheim-Medium.otf"); }

@font-face {
  font-family: Carley_Co_Bold;
  src: url("../fonts/Carley-Co-Bold.otf"); }

@media (min-width: 1200px) {
  .container {
    max-width: 1100px; } }

.phoneline {
  background: #EFF2F5; }
  .phoneline p {
    margin: 0;
    padding: 0;
    padding-top: 17px;
    padding-bottom: 11px;
    text-align: right;
    font-family: GT_Walsheim_Bold;
    font-size: 18.8px;
    color: #231F20;
    padding-right: 272px;
    position: relative; }
    .phoneline p a {
      color: #231F20;
      -webkit-transition: all .15s ease;
      -moz-transition: all .15s ease;
      -ms-transition: all .15s ease;
      -o-transition: all .15s ease;
      transition: all .15s ease; }
    .phoneline p a:hover {
      opacity: 0.7;
      text-decoration: none; }
    .phoneline p span {
      font-size: 38.4px;
      position: absolute;
      top: 2px;
      right: 0; }
    .phoneline p img {
      max-width: 46px;
      margin-right: 12px;
      margin-top: -6px; }

.header {
  background: #fff;
  padding-top: 20px;
  padding-bottom: 20px; }
  .header .cont {
    position: relative; }
  .header .logo {
    max-width: 235px; }
  .header .brands {
    position: absolute;
    right: 0;
    max-width: calc(100% - 350px);
    width: 100%;
    top: 50%;
    transform: translateY(-50%); }
    .header .brands img {
      max-width: 100%; }

.hero {
  background: url("../img/bghero.png") no-repeat right bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .hero .cont {
    position: relative;
    min-height: 580px;
    padding-top: 60px; }
    .hero .cont .imgr {
      position: absolute;
      right: -100px;
      bottom: 0;
      z-index: 0; }
    .hero .cont .texts {
      position: relative;
      z-index: 2; }
      .hero .cont .texts h1 {
        margin: 0;
        padding: 0;
        text-align: left;
        font-family: GT_Walsheim_Bold;
        font-size: 80px;
        color: #6F4E6F; }
      .hero .cont .texts h2 {
        margin: 0;
        padding: 0;
        text-align: left;
        font-family: GT_Walsheim_Bold;
        font-size: 24px;
        color: #231F20;
        margin-bottom: 20px; }
      .hero .cont .texts ul {
        padding: 0;
        margin: 0;
        padding-left: 20px; }
        .hero .cont .texts ul li {
          margin: 0;
          padding: 0;
          text-align: left;
          font-family: GT_Walsheim_Regular;
          font-size: 21px;
          color: #231F20;
          margin-bottom: 5px; }
      .hero .cont .texts .redbtn {
        margin: 0;
        padding: 0;
        margin-top: 58px; }
        .hero .cont .texts .redbtn a {
          font-family: GT_Walsheim_Bold;
          font-size: 26px;
          color: #fff;
          background: #ED1B2F;
          padding: 15px 20px;
          -webkit-transition: all .25s ease;
          -moz-transition: all .25s ease;
          -ms-transition: all .25s ease;
          -o-transition: all .25s ease;
          transition: all .25s ease; }
        .hero .cont .texts .redbtn a:hover {
          text-decoration: none;
          opacity: 0.7; }
        .hero .cont .texts .redbtn img {
          max-width: 14px;
          margin-left: 7px; }
    .hero .cont .recommendus {
      position: absolute;
      bottom: 0;
      max-width: 190px;
      margin-bottom: -110px; }

.sec2 {
  background: url("../img/bgsec2.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 350px;
  padding-bottom: 40px; }
  .sec2 h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Carley_Co_Bold;
    font-size: 42px;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 10px; }
  .sec2 p {
    margin: 0;
    padding: 0;
    font-family: GT_Walsheim_Regular;
    font-size: 25px;
    color: #fff;
    text-align: center;
    max-width: 800px;
    margin: auto; }
    .sec2 p span {
      font-size: 20.5px; }
  .sec2 .icon2sec2 {
    max-width: 41px;
    display: block;
    margin: auto;
    margin-bottom: 10px; }
  .sec2 .icon3sec2 {
    max-width: 41px;
    display: block;
    margin: auto;
    margin-top: 10px; }

.sec3 {
  min-height: 430px;
  background: #EFF2F5;
  padding-bottom: 20px; }
  .sec3 h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: GT_Walsheim_Bold;
    font-size: 45px;
    color: #231F20;
    padding-top: 40px;
    margin-bottom: 30px; }
  .sec3 p {
    margin: 0;
    padding: 0;
    font-family: GT_Walsheim_Regular;
    font-size: 23px;
    color: #231F20;
    text-align: left;
    margin-bottom: 20px; }

.sec4 {
  background: #ED1B2F;
  padding-top: 15px;
  padding-bottom: 10px; }
  .sec4 p {
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: Carley_Co_Bold;
    font-size: 43px;
    color: #fff; }
    .sec4 p a {
      color: #fff;
      border-bottom: 2px solid #fff;
      -webkit-transition: all .25s ease;
      -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
      -o-transition: all .25s ease;
      transition: all .25s ease; }
    .sec4 p a:hover {
      opacity: 0.7;
      text-decoration: none; }

.sec5 {
  min-height: 430px;
  background: #EFF2F5;
  padding-top: 30px; }
  .sec5 .sec5img {
    max-width: 590px;
    margin-left: -75px; }
  .sec5 .right_cont {
    position: absolute;
    right: 0;
    top: 30px;
    max-width: calc(100% - 550px); }
    .sec5 .right_cont h1 {
      margin: 0;
      padding: 0;
      font-family: GT_Walsheim_Bold;
      font-size: 45px;
      color: #231F20; }
    .sec5 .right_cont p {
      margin: 0;
      padding: 0;
      margin-top: 20px;
      font-family: GT_Walsheim_Regular;
      font-size: 21px;
      color: #231F20; }

.sec6 {
  padding-top: 40px; }
  .sec6 .wmns {
    max-width: 850px;
    margin: auto;
    display: block;
    width: 100%; }
  .sec6 h1 {
    margin: 0;
    padding: 0;
    font-family: GT_Walsheim_Bold;
    font-size: 45px;
    color: #231F20;
    text-align: center; }
  .sec6 p {
    margin: 0;
    padding: 0;
    font-family: GT_Walsheim_Regular;
    font-size: 21px;
    color: #231F20;
    text-align: center;
    max-width: 970px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 50px; }
  .sec6 ul {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 10px; }
    .sec6 ul li {
      margin: 0;
      padding: 0; }
      .sec6 ul li a {
        font-family: GT_Walsheim_Medium;
        font-size: 27px;
        color: #ED1B2F;
        position: relative;
        padding-right: 35px;
        margin-bottom: 40px;
        display: inline-block;
        line-height: 32px;
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease; }
      .sec6 ul li a:hover {
        opacity: 0.7;
        text-decoration: none; }      
      .sec6 ul li a.active{
        border-bottom: 1px solid #ED1B2F;
      }
      .sec6 ul li img {
        position: absolute;
        right: 0;
        top: 5px;
        max-width: 17px; }

.sec7 {
  min-height: 520px;
  padding-bottom: 50px;
  background: #F9A980; }
  .sec7 .sec7img {
    position: absolute;
    top: 70px; }
  .sec7 h1 {
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: Carley_Co_Bold;
    font-size: 72px;
    line-height: 60px;
    color: #231F20;
    padding-top: 170px;
    z-index: 1;
    position: relative;
    padding-left: 70px; }
  .sec7 p {
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: GT_Walsheim_Regular;
    font-size: 23px;
    color: #231F20;
    position: relative;
    z-index: 2;
    padding-left: 70px;
    max-width: 530px; }
    .sec7 p span {
      font-family: GT_Walsheim_Bold; }
  .sec7 form {
    max-width: 384px;
    float: right;
    margin-top: 75px; }
    .sec7 form input {
      font-family: GT_Walsheim_Regular;
      font-size: 21px;
      color: #231F20;
      padding: 3px 10px;
      border: 0;
      background: #fff;
      width: 100%;
      margin-bottom: 8px; }
    .sec7 form button {
      background: #ED1B2F;
      font-family: GT_Walsheim_Bold;
      font-size: 25px;
      text-align: center;
      color: #fff;
      padding: 5px;
      display: inline-block;
      width: 100%;
      border: 0;
      margin-top: 10px;
      -webkit-transition: all .25s ease;
      -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
      -o-transition: all .25s ease;
      transition: all .25s ease; }
      .sec7 form button img {
        max-width: 13px;
        margin-left: 10px; }
    .sec7 form button:hover {
      opacity: 0.7; }
    .sec7 form a {
      background: #ED1B2F;
      font-family: GT_Walsheim_Bold;
      font-size: 25px;
      text-align: center;
      color: #fff;
      padding: 5px;
      display: inline-block;
      width: 100%;
      border: 0;
      margin-top: 10px;
      -webkit-transition: all .25s ease;
      -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
      -o-transition: all .25s ease;
      transition: all .25s ease; }
      .sec7 form a img {
        max-width: 13px;
        margin-left: 10px; }
    .sec7 form a:hover {
      opacity: 0.7;
      text-decoration: none; }
    .sec7 form input:focus {
      outline: none; }
    .sec7 form *::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #231F20;
      opacity: 1;
      /* Firefox */ }
    .sec7 form *:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #231F20; }
    .sec7 form *::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #231F20; }

.footer {
  padding-top: 20px;
  padding-bottom: 20px; }
  .footer p {
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: GT_Walsheim_Regular;
    font-size: 15px;
    color: #231F20; }
  .footer .rightp {
    text-align: right; }
    .footer .rightp a {
      color: #231F20;
      -webkit-transition: all .25s ease;
      -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
      -o-transition: all .25s ease;
      transition: all .25s ease; }
    .footer .rightp a:hover {
      opacity: 0.7;
      text-decoration: none; }
  .footer .logo {
    max-width: 230px;
    margin: auto;
    margin-top: 35px;
    display: block; }

@media (max-width: 1360px) {
  .hero .cont .imgr {
    right: 0;
    max-width: 610px; } }

@media (max-width: 1200px) {
  .sec4 p {
    font-size: 38px; }
  .sec5 .sec5img {
    max-width: 470px; }
  .sec5 .right_cont {
    max-width: calc(100% - 390px); }
  .sec5 .right_cont h1 {
    font-size: 35px; }
  .sec5 .right_cont p {
    font-size: 19px; }
  .sec5 {
    min-height: auto;
    padding-bottom: 20px; }
  .sec7 h1 {
    font-size: 62px;
    padding-top: 150px; } }

@media (max-width: 992px) {
  .container {
    max-width: 290px; }
  .phoneline p span {
    top: auto;
    right: auto;
    position: relative;
    text-align: center;
    font-size: 18px;
    display: block; }
  .phoneline p {
    padding: 0;
    text-align: center;
    font-size: 14px;
    padding-bottom: 5px; }
  .phoneline p img {
    max-width: 36px;
    margin-right: 9px;
    display: block;
    margin: auto;
    padding-top: 10px; }
  .header .logo {
    max-width: 185px;
    margin: auto;
    display: block; }
  .header .brands {
    display: none; }
  .hero .cont {
    padding-top: 20px; }
  .hero .cont .texts h1 {
    font-size: 30px;
    text-align: center; }
  .hero .cont .texts h2 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px; }
  .hero .cont .texts ul li {
    font-size: 16px;
    color: #231F20;
    margin-bottom: 0px;
    text-align: center; }
  .hero .cont .texts .redbtn a {
    font-size: 13px;
    padding: 15px 0px;
    width: 100%;
    display: inline-block;
    text-align: center; }
  .hero .cont .texts .redbtn img {
    display: none; }
  .hero .cont .texts .redbtn {
    margin-top: 18px; }
  .hero .cont .imgr {
    display: none; }
  .hero .cont {
    min-height: auto;
    padding-bottom: 80px; }
  .hero {
    background: url(../img/bghero.png) no-repeat center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .hero .cont .recommendus {
    left: 0;
    right: 0;
    max-width: 120px;
    margin: auto;
    margin-bottom: -50px; }
  .sec2 h1 {
    margin-top: 70px;
    font-size: 29px; }
  .sec2 .icon2sec2 {
    max-width: 25px;
    margin-bottom: 5px; }
  .sec2 .icon3sec2 {
    max-width: 25px;
    margin-top: 5px; }
  .sec2 p {
    font-size: 16px; }
    .sec2 p br {
      display: none; }
  .sec2 p span {
    display: block; }
  .sec3 h1 {
    padding-top: 30px;
    font-size: 29px;
    margin-bottom: 10px; }
  .sec3 p {
    font-size: 15px;
    text-align: center;
    margin-bottom: 15px; }
  .sec4 p {
    font-size: 28px;
    text-align: center; }
  .sec5 .right_cont {
    max-width: 100%;
    position: relative; }
  .sec5 .right_cont h1 {
    font-size: 25px;
    text-align: center; }
  .sec5 .right_cont p {
    font-size: 18px; }
  .sec5 {
    padding-top: 0; }
  .sec5 .sec5img {
    max-width: 100%;
    margin: auto;
    margin-top: 50px; }
  .sec6 {
    padding-top: 10px; }
  .sec6 h1 {
    font-size: 25px;
    text-align: center; }
  .sec6 p {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 30px; }
  .sec6 ul li a {
    font-size: 19px;
    padding-right: 35px;
    width: 100%;
    display: block;
    line-height: unset;
    margin-bottom: 10px; }
  .sec6 ul li img {
    top: 8px;
    max-width: 13px; }
  .sec7 .sec7img {
    top: 30px;
    max-width: 260px; }
  .sec7 h1 {
    padding: 0;
    padding-top: 40px;
    text-align: center;
    font-size: 60px; }
  .sec7 p {
    padding: 0;
    font-size: 18px;
    text-align: center; }
  .sec7 form {
    margin-top: 35px; }
  .sec7 form input {
    font-size: 16px;
    padding: 10px 10px 6px 15px;
    line-height: unset; }
  .sec7 form button {
    font-size: 17px;
    padding: 12px 5px; }
  .sec7 form button img {
    max-width: 10px; }
  .sec7 {
    padding-bottom: 30px; }
  .footer p {
    text-align: center; }
  .footer .rightp {
    text-align: center;
    margin-bottom: 0;
    margin-top: 20px; }
  .footer .logo {
    margin-top: 20px;
    max-width: 180px; } }

.thankyoupage {
  background: #98d5e9;
  padding-top: 150px;
  padding-bottom: 150px; }
  .thankyoupage h1 {
    margin: 0;
    padding: 0;
    font-family: GT_Walsheim_Bold;
    font-size: 52px;
    color: #6F4E6F;
    text-align: center;
    margin: auto; }
  .thankyoupage p {
    margin: 0;
    padding: 0;
    font-family: GT_Walsheim_Regular;
    font-size: 25px;
    color: #fff;
    text-align: center;
    margin: auto;
    margin-top: 20px; }

@media (max-width: 992px) {
  .thankyoupage {
    padding-top: 50px;
    padding-bottom: 50px; }
  .thankyoupage h1 {
    font-size: 32px; }
  .thankyoupage p {
    font-size: 20px; } }



.video-responsive{
      overflow:hidden;
      padding-bottom:56.25%;
      position:relative;
      height:0;
      max-height: 596px;
  }
  
  @media screen and (min-width: 992px) {
    .video-responsive {
      height: 596px;
      padding-bottom:10px;
    }
  }

.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute; 
    max-width: 1060px;
    max-height: 596px;
    margin: auto;
    left: 50%;
    transform: translate(-50%, 0);  
}

.content {
  padding: 0 0px;
  display: none;
  overflow: hidden;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  display:block;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}